<div class="w-full flex">
  <div class="">
    <p><%= I18n.t('profile.edit.edit_profile') %></p>
    <% if @user.role === "artist" %>
      <% if @user.artist_detail.present? %>
        <%= link_to I18n.t('profile.edit.edit_artist_profile'), edit_artist_detail_path(@user.artist_detail), class: "hover:underline" %>
      <% else %>
        <%= link_to I18n.t('profile.edit.create_artist_profile'), new_artist_detail_path, class: "hover:underline" %>
      <% end %>
    <% end %>
  </div>

  <div class=" flex-1 flex flex-col items-center justify-center">
    <div class=" bg-background shadow-md px-3 py-6 sm:p-8 border sm:max-w-sm w-full rounded-xl">

      <h2 class="text-2xl font-semibold mb-1"><%= I18n.t('profile.edit.title') %></h2>
      <p className="text-slate-400 text-sm"><%= I18n.t('profile.edit.subtitle') %></p>

      <%= form_with model: @user, local: true, html: { class: "w-full space-y-4" } do |form| %>
        <% if @user.errors.any? %>
                <div id="error_explanation" class="mb-5 font-light text-sm">
                    <h2 class="text-red-600 mb-3">Faced <%= pluralize(@user.errors.count, "error") %>:</h2>
                    <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li class="text-rose-600"><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
        <div class="field w-full space-y-2">
          <%= form.label :name, I18n.t('profile.edit.name') %>
          <%= form.text_field :name, class: 'w-full rounded-md' %>
        </div>

        <div class="field w-full space-y-2">
          <%= form.label :email, I18n.t('profile.edit.email') %>
          <%= form.email_field :email, class: 'w-full rounded-md' %>
        </div>

        <div class="field w-full space-y-2">
          <%= form.label :profile_photo, I18n.t('profile.edit.profile_photo') %>
          <% if @user.profile_photo.attached? %>
            <div class="h-12 aspect-square">
                <%= image_tag @user.profile_photo.present? ? @user.profile_photo : image_path('no_user.png'), class: "w-full h-full object-cover object-center" %>
            </div>
          <% end %>
          <%= form.file_field :profile_photo, accept: "image/*", class: 'w-full rounded-md' %>
        </div>

        <div class="field w-full space-y-2">
          <%= form.label :phone_number, I18n.t('profile.edit.phone_number') %>
          <%= form.telephone_field :phone_number, class: 'w-full rounded-md' %>
        </div>

        <div class="field w-full space-y-2">
          <%= form.label :bio, I18n.t('profile.edit.bio') %>
          <%= form.text_area :bio, class: 'w-full rounded-md' %>
        </div>


        <div class="actions pt-3">
          <%= form.submit I18n.t('profile.edit.update_profile_button') , class: "w-full py-2 px-4 bg-yellow-300 rounded-md cursor-pointer"%>
        </div>
      <% end %>

    </div>
  </div>
</div>
